#whole {
  background: linear-gradient(to bottom, #1F1F1F, #2C2C2C);
  color: #FFFFFF;
  font-family: 'Pacifico', cursive;
  margin: 0;
  height: 100vh;
  position:relative;
  left:600px;
  top:50px;
  border-radius: 10px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headi {
  position: relative;
  bottom: 180px;
  left: 150px;
  width:1000px;
  font-size: 1.5em;
  text-align: center;
}

#tiles {
  background: linear-gradient(to bottom, #1F1F1F, #2C2C2C);
  color: #FFFFFF;
  font-family: 'Pacifico', cursive;
  margin: 0;
  height: 45vh;
  width: 300px;
  display: grid;
  position:relative;
  top:50px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.x1 {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  position:relative;

  right:60px;
  top:40px;
  justify-content: center;
  align-items: center;
  color: #1F1F1F;
  font-weight: bold;
  font-size: 2.5em;
  cursor: pointer;
  transition: all 0.2s ease;
}

.x1:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #4C4C4C;
  color: #FFFFFF;
}

.x1:active {
  transform: scale(1.05);
}